* {
    background-color: hotpink;
    border: 1px solid black;
    box-sizing: border-box;
    color: white;
    font-size: 10px bold;
    font-family: Arial, Helvetica, sans-serif;

}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.6fr 1.2fr 0.6fr;
    grid-template-areas: 
    "header header header"
    "aside nav nav"
    "aside main main"
    "footer footer footer";
    grid-gap: 0.2rem;

}

.header{
    background-color: black;
    grid-area: header;
}

.nav{
    background-color: peachpuff;
    grid-area: nav;
}

.main{
background-color: lightgrey;
grid-area: main;
}

.aside{
    background-color: orange;
    grid-area: aside;
}

.footer {
    background-color: black;
    grid-area: footer;
}

@media only screen and (max-width:768px){
.grid-container {
    grid-template-columns: 1fr ;
    grid-template-rows: 0.125fr 0.125fr 0.625fe 0.125fr;
    grid-area:
    "header"
    "nav"
    "main"
    "footer"
     ;

}
}



