* {
    background-color: hotpink;
    border: 1px solid black;
    box-sizing: border-box;
    color: white;
    font-size: 10px bold;
    font-family: Arial, Helvetica, sans-serif;

}

.grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 0.6fr 1.2fr 0.6fr;
    grid-template-areas: 
    "header header header"
    "aside nav nav"
    "aside main main"
    "footer footer footer";
    display: flex;
}

.header{
    background-color: black;
    grid-area: header;
}

.nav{
    background-color: peachpuff;
    grid-area: nav;
}

.main{
background-color: lightgrey;
grid-area: main;
}

.aside{
    background-color: orange;
    grid-area: aside;
}

.footer {
    background-color: black;
    grid-area: footer;
}